/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

html, body, app-root {
  height: 100%;
}

.spacer {
  flex: 1 0 auto;
}

a.no-decoration {
  color: inherit;
}
